{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Atenciones</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark"
      action="/crearAtencion/"
      method="post"
    >
      {% csrf_token %}
      <div class="mb-4">
        <label class="mb-1">Tipo Atencion</label>
        <select
          class="form-control"
          required
          name="tipo_atencion_xg"
          id="tipo_atencion_xg"
        >
          <option value="">--Selecciona tipo atencion--</option>
          {% for tipoAtencion in tiposAtencion %}
          <option value="{{tipoAtencion.id_xg}}">
            {{tipoAtencion.nombre_xg}}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-4">
        <label class="mb-1">Mascota</label>
        <select class="form-control" required name="mascota_xg" id="mascota_xg">
          <option value="">--Selecciona Mascota--</option>
          {% for mascota in mascotas %}
          <option value="{{mascota.id_xg}}">{{mascota.nombre_xg}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-4">
        <label class="mb-1">Descripcion</label>
        <input
          class="form-control"
          type="text"
          name="descripcion_xg"
          id="descripcion_xg"
          placeholder="Descripcion de la atencion realizada"
          required
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Fecha Atencion</label>
        <input
          class="form-control"
          type="date"
          name="fecha_xg"
          id="fecha_xg"
          required
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Seguimiento</label>
        <input
          class="form-control"
          type="text"
          name="seguimiento_xg"
          id="seguimiento_xg"
          placeholder="Seguimiento de la atencion realizada"
          required
        />
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Guardar
        </button>
        <button class="btn btn-danger" name="button" type="reset">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-7 mx-auto">
    {% if atenciones %}
    <h3 class="text-center mt-4">Lista de Atencion</h3>
    <table class="table table-dark table-striped align-middle text-center mt-4">
      <thead>
        <tr>
          <th>#</th>
          <th>Fecha</th>
          <th>Descripcion</th>
          <th>Seguimiento</th>
          <th>Tipo Atencion</th>
          <th>Mascota</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for i, atencion in atenciones %}
        <tr>
          <td>{{i}}</td>
          <td>{{atencion.fecha_xg}}</td>
          <td>{{atencion.descripcion_xg}}</td>
          <td>{{atencion.seguimiento_xg}}</td>
          <td>{{atencion.tipo_atencion_xg}}</td>
          <td>{{atencion.mascota_xg}}</td>
          <td>
            <a
              class="btn enlace-boton"
              href="javascript:void(0)"
              onclick="eliminarAtencion('/eliminarAtencion/{{atencion.id_xg}}')"
              ><i class="bi bi-trash3 text-danger"></i> Eliminar</a
            ><a
              class="btn enlace-boton"
              href="/editarAtencion/{{atencion.id_xg}}"
            >
              <i class="bi bi-pencil-square text-success"></i> Editar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="alert alert-dark text-center mt-4">
      No hay atenciones registradas
    </div>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  function eliminarAtencion(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: "once",
      id: "question",
      zindex: 999,
      title: "CONFIRMACIÓN",
      message: "¿Está seguro de eliminar la atencion seleccionada?",
      position: "bottomRight",
      buttons: [
        [
          "<button><b>SI</b></button>",
          function (instance, toast) {
            instance.hide({ transitionOut: "fadeOut" }, toast, "button");
            window.location.href = url;
          },
          true,
        ],
        [
          "<button>NO</button>",
          function (instance, toast) {
            instance.hide({ transitionOut: "fadeOut" }, toast, "button");
          },
        ],
      ],
    });
  }
</script>

{% endblock contenido %}
