{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Detalles</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark"
      action="/crearDetalle/"
      method="post"
    >
      {% csrf_token %}
      <div class="mb-4">
        <label class="mb-1">Medicamento</label>
        <select name="medicamento_xg" id="medicamento_xg" class="form-control">
          <option value="">--Selecciona Medicamento--</option>
          {% for medicamento in medicamentos %}
          <option value="{{medicamento.id_xg}}">
            {{medicamento.nombre_xg}}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-4">
        <label class="mb-1">Receta</label>
        <select name="receta_xg" id="receta_xg" class="form-control">
          <option value="">--Selecciona Receta--</option>
          {% for receta in recetas %}
          <option value="{{receta.id_xg}}">{{receta.instrucciones_xg}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="row">
        <div class="col-6 mb-4">
          <label class="mb-1">Cantidad</label>
          <input
            class="form-control"
            type="number"
            name="cantidad_xg"
            id="cantidad_xg"
            placeholder="5"
            min="1"
            required
          />
        </div>
        <div class="col-6 mb-4">
          <label class="mb-1">Dosis</label>
          <input
            class="form-control"
            type="number"
            name="dosis_xg"
            id="dosis_xg"
            placeholder="5"
            min="1"
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="col-6 mb-4">
          <label class="mb-1">Frecuencia</label>
          <input
            class="form-control"
            type="number"
            name="frecuencia_xg"
            id="frecuencia_xg"
            placeholder="2"
            min="1"
            required
          />
        </div>
        <div class="col-6 mb-4"></div>
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Guardar
        </button>
        <button class="btn btn-danger" name="button" type="reset">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-7 mx-auto">
    {% if detalles %}
    <h3 class="text-center mt-4">Lista de Detalles</h3>
    <table class="table table-dark table-striped align-middle text-center mt-4">
      <thead>
        <tr>
          <th>#</th>
          <th>Medicamento</th>
          <th>Receta</th>
          <th>Frecuencia</th>
          <th>Dosis</th>
          <th>Cantidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for i, detalle in detalles %}
        <tr>
          <td>{{i}}</td>
          <td>
            {% if detalle.medicamento_xg.fotografia_xg %}
            <a
              href="{{detalle.medicamento_xg.fotografia_xg.url}}"
              target="_blank"
            >
              <img
                src="{{detalle.medicamento_xg.fotografia_xg.url}}"
                alt="{{detalle.medicamento_xg.nombre_xg}}"
                width="50"
              />
            </a>
            {% endif %} {{detalle.medicamento_xg.nombre_xg}}
          </td>
          <td>{{detalle.receta_xg.instrucciones_xg}}</td>
          <td>{{detalle.frecuencia_xg}}</td>
          <td>{{detalle.dosis_xg}}</td>
          <td>{{detalle.cantidad_xg}}</td>
          <td>
            <a
              class="btn enlace-boton"
              href="javascript:void(0)"
              onclick="eliminarDetalle('/eliminarDetalle/{{detalle.id_xg}}')"
              ><i class="bi bi-trash3 text-danger"></i> Eliminar</a
            ><a
              class="btn enlace-boton"
              href="/editarDetalle/{{detalle.id_xg}}"
            >
              <i class="bi bi-pencil-square text-success"></i> Editar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="alert alert-dark text-center mt-4">
      No hay detalles registradas
    </div>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  function eliminarDetalle(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: "once",
      id: "question",
      zindex: 999,
      title: "CONFIRMACIÓN",
      message: "¿Está seguro de eliminar el detalle seleccionada?",
      position: "bottomRight",
      buttons: [
        [
          "<button><b>SI</b></button>",
          function (instance, toast) {
            instance.hide({ transitionOut: "fadeOut" }, toast, "button");
            window.location.href = url;
          },
          true,
        ],
        [
          "<button>NO</button>",
          function (instance, toast) {
            instance.hide({ transitionOut: "fadeOut" }, toast, "button");
          },
        ],
      ],
    });
  }
</script>

{% endblock contenido %}
