{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Actualizar Mascota</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark"
      action="/actualizarMascota/"
      method="post"
    >
      {% csrf_token %}
      <input
        type="text"
        id="id_xg"
        name="id_xg"
        value="{{mascota.id_xg}}"
        hidden
      />

      <div class="row">
        <div class="mb-4 col-md-6">
          <label class="mb-1">Nombre</label>
          <input
            class="form-control"
            type="text"
            name="nombre_xg"
            id="nombre_xg"
            placeholder="Miconi"
            required
            value="{{mascota.nombre_xg}}"
          />
        </div>
        <div class="mb-4 col-md-6">
          <label class="mb-1">Raza</label>
          <select class="form-control" required name="raza_xg" id="raza_xg">
            <option value="">--Selecciona Raza--</option>
            {% for raza in razas %}
            <option value="{{raza.id_xg}}">{{raza.nombre_xg}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="mb-4">
        <label class="mb-1">Propietario</label>
        <select
          class="form-control"
          required
          name="propietario_xg"
          id="propietario_xg"
        >
          <option value="">--Selecciona propietario--</option>
          {% for propietario in propietarios %}
          <option value="{{propietario.id_xg}}">
            {{propietario.nombres_xg}} {{propietario.apellidos_xg}}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="row">
        <div class="mb-4 col-lg-6">
          <label for="color_xg">Color</label>
          <input
            type="text"
            placeholder="Blanco"
            name="color_xg"
            id="color_xg"
            required
            class="form-control"
            value="{{mascota.color_xg}}"
          />
        </div>
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Peso</label>
          <input
            class="form-control"
            type="number"
            step="0.01"
            name="peso_xg"
            id="peso_xg"
            placeholder="1.6"
            required
            value="{{mascota.peso_xg}}"
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="mb-1">Fecha Nacimiento</label>
        <input
          class="form-control"
          type="date"
          name="fecha_nacimiento_xg"
          id="fecha_nacimiento_xg"
          value="{{mascota.fecha_nacimiento_xg|date:'Y-m-d'}}"
          required
        />
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Actualizar
        </button>
        <a class="btn btn-danger" name="button" href="/mascotas"> Cancelar </a>
      </div>
    </form>
  </div>
</div>

<script>
  document.getElementById("raza_xg").value = "{{mascota.raza_xg.id_xg}}";
  document.getElementById("propietario_xg").value =
    "{{mascota.propietario_xg.id_xg}}";
</script>

{% endblock contenido %}
