{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Actualizar Receta</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark"
      action="/actualizarReceta/"
      method="post"
    >
      {% csrf_token %}
      <input
        type="text"
        id="id_xg"
        name="id_xg"
        value="{{receta.id_xg}}"
        hidden
      />
      <div class="mb-4">
        <label class="mb-1">Instrucciones</label>
        <input
          class="form-control"
          type="text"
          name="instrucciones_xg"
          id="instrucciones_xg"
          placeholder="Ingresar todo el medicamento por medio"
          required
          value="{{receta.instrucciones_xg}}"
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Notas Adicionales</label>
        <input
          class="form-control"
          type="text"
          name="notas_adicionales_xg"
          id="notas_adicionales_xg"
          placeholder="Perro de tamanio mediano o grande"
          required
          value="{{receta.notas_adicionales_xg}}"
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Fecha</label>
        <input
          class="form-control"
          type="date"
          name="fecha_xg"
          id="fecha_xg"
          required
          value="{{receta.fecha_xg|date:'Y-m-d'}}"
        />
      </div>
      <div class="mb-4">
        <label for="mb-1">Atencion</label>
        <select class="form-control" name="atencion_xg" id="atencion_xg">
          <option value="">--Seleccione atencion--</option>

          {% for atencion in atenciones %}
          <option value="{{atencion.id_xg}}">
            {{atencion.descripcion_xg}}
          </option>
          {% endfor %}
        </select>
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Actualizar
        </button>
        <a class="btn btn-danger" name="button" href="/recetas"> Cancelar </a>
      </div>
    </form>
  </div>
</div>

<script>
  document.getElementById("atencion_xg").value = "{{receta.atencion_xg.id_xg}}";
</script>

{% endblock contenido %}
