{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Actualizar Raza</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark"
      action="/actualizarRaza/"
      method="post"
    >
      {% csrf_token %}
      <input
        type="text"
        id="id_xg"
        name="id_xg"
        value="{{raza.id_xg}}"
        hidden
      />
      <div class="mb-4">
        <label class="mb-1">Nombre</label>
        <input
          class="form-control"
          type="text"
          name="nombre_xg"
          id="nombre_xg"
          placeholder="Labrador Retriever"
          required
          value="{{raza.nombre_xg}}"
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Descripcion</label>
        <input
          class="form-control"
          type="text"
          name="descripcion_xg"
          id="descripcion_xg"
          placeholder="Perro de tamanio mediano o grande"
          required
          value="{{raza.descripcion_xg}}"
        />
      </div>
      <div class="row">
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Tamanio</label>
          <input
            class="form-control"
            type="text"
            name="tamanio_xg"
            id="tamanio_xg"
            placeholder="Grande"
            required
            value="{{raza.tamanio_xg}}"
          />
        </div>
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Esperanza Vida</label>
          <input
            class="form-control"
            type="text"
            name="esperanza_vida_xg"
            id="esperanza_vida_xg"
            placeholder="10 anios"
            required
            value="{{raza.esperanza_vida_xg}}"
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="mb-1">Origen</label>
        <input
          class="form-control"
          type="text"
          name="origen_xg"
          id="origen_xg"
          placeholder="Reino Unido"
          required
          value="{{raza.origen_xg}}"
        />
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Actualizar
        </button>
        <a class="btn btn-danger" name="button" href="/"> Cancelar </a>
      </div>
    </form>
  </div>
</div>

{% endblock contenido %}
