{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Actualizar Propietario</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark"
      action="/actualizarPropietario/"
      method="post"
    >
      {% csrf_token %}
      <input
        type="text"
        id="id_xg"
        name="id_xg"
        value="{{propietario.id_xg}}"
        hidden
      />
      <div class="mb-4">
        <label class="mb-1">Nombres</label>
        <input
          class="form-control"
          type="text"
          name="nombres_xg"
          id="nombres_xg"
          placeholder="Segundo Xavier"
          required
          value="{{propietario.nombres_xg}}"
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Apellidos</label>
        <input
          class="form-control"
          type="text"
          name="apellidos_xg"
          id="apellidos_xg"
          placeholder="Gaspata Calo"
          required
          value="{{propietario.apellidos_xg}}"
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Direccion</label>
        <input
          class="form-control"
          type="text"
          name="direccion_xg"
          id="direccion_xg"
          placeholder="Av Juan de la Valladolid"
          required
          value="{{propietario.direccion_xg}}"
        />
      </div>
      <div class="row">
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Telefono</label>
          <input
            class="form-control"
            type="text"
            name="telefono_xg"
            id="telefono_xg"
            placeholder="0989458745"
            required
            value="{{propietario.telefono_xg}}"
          />
        </div>
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Estado Civil</label>
          <select
            class="form-control"
            name="estado_civil_xg"
            id="estado_civil_xg"
            required
          >
            <option>--Selecciona Estado civil--</option>
            {% for estadoCivil in estadosCivil %}
            <option value="{{estadoCivil.id_xg}}">
              {{estadoCivil.nombre_xg}}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="mb-4">
        <label class="mb-1">Pais</label>

        <select name="pais_xg" id="pais_xg" class="form-control" required>
          <option>--Selecciona Pais--</option>
          {% for pais in paises %}
          <option value="{{pais.id_xg}}">{{pais.nombre_xg}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Actualizar
        </button>
        <a class="btn btn-danger" name="button" href="/propietarios">
          Cancelar
        </a>
      </div>
    </form>
  </div>
</div>

<script>
  document.getElementById("estado_civil_xg").value =
    "{{propietario.estado_civil_xg.id_xg}}";
  document.getElementById("pais_xg").value = "{{propietario.pais_xg.id_xg}}";
</script>

{% endblock contenido %}
