{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Actualizar Pais</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark"
      action="/actualizarPais/"
      method="post"
    >
      {% csrf_token %}
      <input
        type="text"
        id="id_xg"
        name="id_xg"
        value="{{pais.id_xg}}"
        hidden
      />
      <div class="mb-4">
        <label class="mb-1">Nombre</label>
        <input
          class="form-control"
          type="text"
          name="nombre_xg"
          id="nombre_xg"
          placeholder="Ecuador"
          required
          value="{{pais.nombre_xg}}"
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Capital</label>
        <input
          class="form-control"
          type="text"
          name="capital_xg"
          id="capital_xg"
          placeholder="Quito"
          required
          value="{{pais.capital_xg}}"
        />
      </div>

      <div class="row">
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Codigo ISO</label>
          <input
            class="form-control"
            type="text"
            name="codigo_ISO_xg"
            id="codigo_ISO_xg"
            placeholder="ECU"
            required
            value="{{pais.codigo_ISO_xg}}"
          />
        </div>

        <div class="mb-4 col-lg-6">
          <label class="mb-1">Idioma</label>
          <input
            class="form-control"
            type="text"
            name="idioma_xg"
            id="idioma_xg"
            placeholder="Espaniol"
            required
            value="{{pais.idioma_xg}}"
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="mb-1">Continente</label>
        <input
          class="form-control"
          type="text"
          name="continente_xg"
          id="continente_xg"
          placeholder="America"
          required
          value="{{pais.continente_xg}}"
        />
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Actualizar
        </button>
        <a class="btn btn-danger" name="button" href="/paises"> Cancelar </a>
      </div>
    </form>
  </div>
</div>

{% endblock contenido %}
