{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Actualizar Tipo Atencion</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark"
      action="/actualizarTipoAtencion/"
      method="post"
    >
      {% csrf_token %}
      <input
        type="text"
        id="id_xg"
        name="id_xg"
        value="{{tipoAtencion.id_xg}}"
        hidden
      />

      <div class="mb-4">
        <label class="mb-1">Nombre</label>
        <input
          class="form-control"
          type="text"
          name="nombre_xg"
          id="nombre_xg"
          placeholder="Vacunacion"
          required
          value="{{tipoAtencion.nombre_xg}}"
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Descripcion</label>
        <input
          class="form-control"
          type="text"
          name="descripcion_xg"
          id="descripcion_xg"
          placeholder="Proceso de administrar una vacuna para prevenir enfermedades"
          required
          value="{{tipoAtencion.descripcion_xg}}"
        />
      </div>
      <div class="row">
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Duracion</label>
          <input
            class="form-control"
            type="text"
            name="duracion_xg"
            id="duracion_xg"
            placeholder="5 meses"
            required
            value="{{tipoAtencion.duracion_xg}}"
          />
        </div>
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Costo</label>
          <input
            class="form-control"
            type="number"
            name="costo_xg"
            id="costo_xg"
            step="0.01"
            min="0"
            placeholder="100.00"
            required
            value="{{tipoAtencion.costo_xg}}"
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="mb-1">Fecha</label>
        <input
          class="form-control"
          type="date"
          name="fecha_creacion_xg"
          id="fecha_creacion_xg"
          required
          value="{{tipoAtencion.fecha_creacion_xg|date:'Y-m-d'}}"
        />
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Actualizar
        </button>
        <a class="btn btn-danger" name="button" href="/tiposAtencion">
          Cancelar
        </a>
      </div>
    </form>
  </div>
</div>

{% endblock contenido %}
