{% extends "./plantilla.html" %} {% block contenido %}

<div class="container">
  <div class="row">
    <h1 class="text-center mt-4 mb-4">Actualizar Medicamento</h1>

    <div class="col-md-5 mx-auto">
      <form
        class="border p-5 border-dark bg-dark"
        action="/actualizarMedicamento/"
        method="post"
      >
        {% csrf_token %}
        <input
          type="text"
          id="id_xg"
          name="id_xg"
          value="{{medicamento.id_xg}}"
          hidden
        />
        <div class="mb-4">
          <label class="mb-1">Nombre</label>
          <input
            class="form-control"
            type="text"
            name="nombre_xg"
            id="nombre_xg"
            placeholder="Ibuprofeno"
            required
            value="{{medicamento.nombre_xg}}"
          />
        </div>
        <div class="mb-4">
          <label class="mb-1">Proveedor</label>
          <input
            class="form-control"
            type="text"
            name="proveedor_xg"
            id="proveedor_xg"
            placeholder="Farmacia ABCD"
            required
            value="{{medicamento.proveedor_xg}}"
          />
        </div>
        <div class="row">
          <div class="mb-4 col-lg-6">
            <label class="mb-1">Stock</label>
            <input
              class="form-control"
              type="number"
              name="stock_xg"
              min="0"
              id="stock_xg"
              placeholder="20"
              required
              value="{{medicamento.stock_xg}}"
            />
          </div>
          <div class="mb-4 col-lg-6">
            <label class="mb-1">Costo</label>
            <input
              class="form-control"
              type="number"
              step="0.01"
              name="costo_xg"
              id="costo_xg"
              placeholder="20.00"
              required
              value="{{medicamento.costo_xg|floatformat:5}}"
            />
          </div>
        </div>
        <div class="mb-4">
          <label class="mb-1">Fecha Vencimiento</label>
          <input
            class="form-control"
            type="date"
            name="fecha_vencimiento_xg"
            id="fecha_vencimiento_xg"
            required
            value="{{medicamento.fecha_vencimiento_xg|date:'Y-m-d'}}"
          />
        </div>
        {% if medicamento.fotografia_xg %}
        <div class="mb-4">
          <label for="">Fotografia</label>
          <input
            type="file"
            name="fotografia_xg"
            id="fotografia_xg"
            class="form-control"
            accept="image/*"
            value="{{medicamento.fotografia_xg}}"
          />
        </div>
        {% endif %}

        <div class="mt-4">
          <button class="btn btn-primary" name="button" type="submit">
            Actualizar
          </button>
          <a class="btn btn-danger" name="button" href="/medicamentos">
            Cancelar
          </a>
        </div>
      </form>
    </div>
    <div class="col-md-3 mx-auto">
      <label for="" class="mb-1">Fotografia</label>
      <img src="{{medicamento.fotografia_xg.url}}" alt="" width="250" />
    </div>
  </div>
</div>

{% endblock contenido %}
