{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Actualizar Atencion</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark"
      action="/actualizarAtencion/"
      method="post"
    >
      {% csrf_token %}
      <input
        type="text"
        id="id_xg"
        name="id_xg"
        value="{{atencion.id_xg}}"
        hidden
      />
      <div class="mb-4">
        <label class="mb-1">Tipo Atencion</label>
        <select
          class="form-control"
          required
          name="tipo_atencion_xg"
          id="tipo_atencion_xg"
        >
          <option value="">--Selecciona tipo atencion--</option>
          {% for tipoAtencion in tiposAtencion %}
          <option value="{{tipoAtencion.id_xg}}">
            {{tipoAtencion.nombre_xg}}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-4">
        <label class="mb-1">Mascota</label>
        <select class="form-control" required name="mascota_xg" id="mascota_xg">
          <option value="">--Selecciona Mascota--</option>
          {% for mascota in mascotas %}
          <option value="{{mascota.id_xg}}">{{mascota.nombre_xg}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-4">
        <label class="mb-1">Descripcion</label>
        <input
          class="form-control"
          type="text"
          name="descripcion_xg"
          id="descripcion_xg"
          placeholder="Descripcion de la atencion realizada"
          required
          value="{{atencion.descripcion_xg}}"
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Fecha Atencion</label>
        <input
          class="form-control"
          type="date"
          name="fecha_xg"
          id="fecha_xg"
          required
          value="{{atencion.fecha_xg|date:'Y-m-d'}}"
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Seguimiento</label>
        <input
          class="form-control"
          type="text"
          name="seguimiento_xg"
          id="seguimiento_xg"
          placeholder="Seguimiento de la atencion realizada"
          required
          value="{{atencion.seguimiento_xg}}"
        />
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Actualizar
        </button>
        <a class="btn btn-danger" name="button" href="/atenciones">
          Cancelar
        </a>
      </div>
    </form>
  </div>
</div>

<script>
  document.getElementById("tipo_atencion_xg").value =
    "{{atencion.tipo_atencion_xg.id_xg}}";
  document.getElementById("mascota_xg").value = "{{atencion.mascota_xg.id_xg}}";
</script>

{% endblock contenido %}
