{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Actualizar Detalle</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark"
      action="/actualizarDetalle/"
      method="post"
    >
      {% csrf_token %}
      <input
        type="text"
        id="id_xg"
        name="id_xg"
        value="{{detalle.id_xg}}"
        hidden
      />
      <div class="mb-4">
        <label class="mb-1">Medicamento</label>
        <select name="medicamento_xg" id="medicamento_xg" class="form-control">
          <option value="">--Selecciona Medicamento--</option>
          {% for medicamento in medicamentos %}
          <option value="{{medicamento.id_xg}}">
            {{medicamento.nombre_xg}}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-4">
        <label class="mb-1">Receta</label>
        <select name="receta_xg" id="receta_xg" class="form-control">
          <option value="">--Selecciona Receta--</option>
          {% for receta in recetas %}
          <option value="{{receta.id_xg}}">{{receta.instrucciones_xg}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="row">
        <div class="col-6 mb-4">
          <label class="mb-1">Cantidad</label>
          <input
            class="form-control"
            type="number"
            name="cantidad_xg"
            id="cantidad_xg"
            placeholder="5"
            min="1"
            value="{{detalle.cantidad_xg}}"
          />
        </div>
        <div class="col-6 mb-4">
          <label class="mb-1">Dosis</label>
          <input
            class="form-control"
            type="number"
            name="dosis_xg"
            id="dosis_xg"
            placeholder="5"
            min="1"
            value="{{detalle.dosis_xg}}"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-6 mb-4">
          <label class="mb-1">Frecuencia</label>
          <input
            class="form-control"
            type="number"
            name="frecuencia_xg"
            id="frecuencia_xg"
            placeholder="2"
            min="1"
            value="{{detalle.frecuencia_xg}}"
          />
        </div>
        <div class="col-6 mb-4"></div>
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Actualizar
        </button>
        <a class="btn btn-danger" name="button" href="/detalles"> Cancelar </a>
      </div>
    </form>
  </div>
</div>

<script>
  document.getElementById("medicamento_xg").value =
    "{{detalle.medicamento_xg.id_xg}}";
  document.getElementById("receta_xg").value = "{{detalle.receta_xg.id_xg}}";
</script>

{% endblock contenido %}
