{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Actualizar Estado Civil</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark"
      action="/actualizarEstadoCivil/"
      method="post"
    >
      {% csrf_token %}
      <input
        type="text"
        id="id_xg"
        name="id_xg"
        value="{{estadoCivil.id_xg}}"
        hidden
      />
      <div class="mb-4">
        <label class="mb-1">Nombre</label>
        <input
          class="form-control"
          type="text"
          name="nombre_xg"
          id="nombre_xg"
          placeholder="Casado"
          required
          value="{{estadoCivil.nombre_xg}}"
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Descripcion</label>
        <input
          class="form-control"
          type="text"
          name="descripcion_xg"
          id="descripcion_xg"
          placeholder="Estado civil en el que se encuentra unida la pareja"
          required
          value="{{estadoCivil.descripcion_xg}}"
        />
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Actualizar
        </button>
        <a class="btn btn-danger" name="button" href="/estadosCiviles">
          Cancelar
        </a>
      </div>
    </form>
  </div>
</div>

{% endblock contenido %}
