{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Mascotas</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark"
      action="/crearMascota/"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}

      <div class="row">
        <div class="mb-4 col-md-6">
          <label class="mb-1">Nombre</label>
          <input
            class="form-control"
            type="text"
            name="nombre_xg"
            id="nombre_xg"
            placeholder="Miconi"
            required
          />
        </div>
        <div class="mb-4 col-md-6">
          <label class="mb-1">Raza</label>
          <select class="form-control" required name="raza_xg" name="raza_xg">
            <option value="">--Selecciona Raza--</option>
            {% for raza in razas %}
            <option value="{{raza.id_xg}}">{{raza.nombre_xg}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="mb-4">
        <label class="mb-1">Propietario</label>
        <select
          class="form-control"
          required
          name="propietario_xg"
          name="propietario_xg"
        >
          <option value="">--Selecciona propietario--</option>
          {% for propietario in propietarios %}
          <option value="{{propietario.id_xg}}">
            {{propietario.nombres_xg}} {{propietario.apellidos_xg}}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="row">
        <div class="mb-4 col-lg-6">
          <label for="color_xg">Color</label>
          <input
            type="text"
            placeholder="Blanco"
            name="color_xg"
            id="color_xg"
            required
            class="form-control"
          />
        </div>
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Peso</label>
          <input
            class="form-control"
            type="number"
            step="0.01"
            name="peso_xg"
            id="peso_xg"
            placeholder="1.6"
            required
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="mb-1">Fecha Nacimiento</label>
        <input
          class="form-control"
          type="date"
          name="fecha_nacimiento_xg"
          id="fecha_nacimiento_xg"
          required
        />
      </div>

      <div class="mb-4">
        <label for="" class="mb-1">Fotografia</label>
        <input
          type="file"
          class="form-control"
          id="fotografia_xg"
          name="fotografia_xg"
          accept="image/*"
        />
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Guardar
        </button>
        <button class="btn btn-danger" name="button" type="reset">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-7 mx-auto">
    {% if mascotas %}
    <h3 class="text-center mt-4">Lista de Mascotas</h3>
    <table class="table table-dark table-striped align-middle text-center mt-4">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Color</th>
          <th>Peso (kg)</th>
          <th>Propietario</th>
          <th>Raza</th>
          <th>Fotografia</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for i, mascota in mascotas %}
        <tr>
          <td>{{i}}</td>
          <td>{{mascota.nombre_xg}}</td>
          <td>{{mascota.color_xg}}</td>
          <td>{{mascota.peso_xg}}</td>
          <td>
            {{mascota.propietario_xg.nombres_xg}}
            {{mascota.propietario_xg.apellidos_xg}}
          </td>
          <td>{{mascota.raza_xg.nombre_xg}}</td>
          <td>
            {% if mascota.fotografia_xg %}
            <a href="{{mascota.fotografia_xg.url}}" target="_blank">
              <img
                src="{{mascota.fotografia_xg.url}}"
                alt="{{mascota.nombre_xg}}"
                width="50"
              />
            </a>
            {% else %}
            <p>N/A</p>
            {% endif %}
          </td>
          <td>
            <a
              class="btn enlace-boton"
              href="javascript:void(0)"
              onclick="eliminarMascota('/eliminarMascota/{{mascota.id_xg}}')"
              ><i class="bi bi-trash3 text-danger"></i> Eliminar</a
            ><a
              class="btn enlace-boton"
              href="/editarMascota/{{mascota.id_xg}}"
            >
              <i class="bi bi-pencil-square text-success"></i> Editar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="alert alert-dark text-center mt-4">
      No hay mascotas registradas
    </div>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  function eliminarMascota(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: "once",
      id: "question",
      zindex: 999,
      title: "CONFIRMACIÓN",
      message: "¿Está seguro de eliminar la mascota seleccionada?",
      position: "bottomRight",
      buttons: [
        [
          "<button><b>SI</b></button>",
          function (instance, toast) {
            instance.hide({ transitionOut: "fadeOut" }, toast, "button");
            window.location.href = url;
          },
          true,
        ],
        [
          "<button>NO</button>",
          function (instance, toast) {
            instance.hide({ transitionOut: "fadeOut" }, toast, "button");
          },
        ],
      ],
    });
  }
</script>

{% endblock contenido %}
