{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Medicamentos</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark"
      action="/crearMedicamento/"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="mb-4">
        <label class="mb-1">Nombre</label>
        <input
          class="form-control"
          type="text"
          name="nombre_xg"
          id="nombre_xg"
          placeholder="Ibuprofeno"
          required
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Proveedor</label>
        <input
          class="form-control"
          type="text"
          name="proveedor_xg"
          id="proveedor_xg"
          placeholder="Farmacia ABCD"
          required
        />
      </div>
      <div class="row">
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Stock</label>
          <input
            class="form-control"
            type="number"
            name="stock_xg"
            min="0"
            id="stock_xg"
            placeholder="20"
            required
          />
        </div>
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Costo</label>
          <input
            class="form-control"
            type="number"
            step="0.01"
            name="costo_xg"
            id="costo_xg"
            placeholder="20.00"
            required
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="mb-1">Fecha Vencimiento</label>
        <input
          class="form-control"
          type="date"
          name="fecha_vencimiento_xg"
          id="fecha_vencimiento_xg"
          required
        />
      </div>
      <div class="mb-4">
        <label for="">Fotografia</label>
        <input
          type="file"
          name="fotografia_xg"
          id="fotografia_xg"
          class="form-control"
          accept="image/*"
        />
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Guardar
        </button>
        <button class="btn btn-danger" name="button" type="reset">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-7 mx-auto">
    {% if medicamentos %}
    <h3 class="text-center mt-4">Lista de Medicamentos</h3>
    <table class="table table-dark table-striped align-middle text-center mt-4">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Proveedor</th>
          <th>Stock</th>
          <th>Costo</th>
          <th>Fecha Vencimiento</th>
          <th>Imagen</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for i, medicamento in medicamentos %}
        <tr>
          <td>{{i}}</td>
          <td>{{medicamento.nombre_xg}}</td>
          <td>{{medicamento.proveedor_xg}}</td>
          <td>{{medicamento.stock_xg}}</td>
          <td>$ {{medicamento.costo_xg}}</td>
          <td>{{medicamento.fecha_vencimiento_xg}}</td>
          <td>
            {% if medicamento.fotografia_xg %}
            <a href="{{medicamento.fotografia_xg.url}}" target="_blank">
              <img
                src="{{medicamento.fotografia_xg.url}}"
                alt="{{medicamento.nombre_xg}}"
                width="50px"
                height="50px"
              />
            </a>
            {% else %}
            <p>N/A</p>
            {% endif %}
          </td>
          <td>
            <a
              class="btn enlace-boton"
              href="javascript:void(0)"
              onclick="eliminarMedicamento('/eliminarMedicamento/{{medicamento.id_xg}}')"
              ><i class="bi bi-trash3 text-danger"></i> Eliminar</a
            ><a
              class="btn enlace-boton"
              href="/editarMedicamento/{{medicamento.id_xg}}"
            >
              <i class="bi bi-pencil-square text-success"></i> Editar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="alert alert-dark text-center mt-4">
      No hay medicamentos registrados
    </div>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  function eliminarMedicamento(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: "once",
      id: "question",
      zindex: 999,
      title: "CONFIRMACIÓN",
      message: "¿Está seguro de eliminar el medicamento seleccionado?",
      position: "bottomRight",
      buttons: [
        [
          "<button><b>SI</b></button>",
          function (instance, toast) {
            instance.hide({ transitionOut: "fadeOut" }, toast, "button");
            window.location.href = url;
          },
          true,
        ],
        [
          "<button>NO</button>",
          function (instance, toast) {
            instance.hide({ transitionOut: "fadeOut" }, toast, "button");
          },
        ],
      ],
    });
  }
</script>

{% endblock contenido %}
