{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Paises</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark"
      action="/crearPais/"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="mb-4">
        <label class="mb-1">Nombre</label>
        <input
          class="form-control"
          type="text"
          name="nombre_xg"
          id="nombre_xg"
          placeholder="Ecuador"
          required
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Capital</label>
        <input
          class="form-control"
          type="text"
          name="capital_xg"
          id="capital_xg"
          placeholder="Quito"
          required
        />
      </div>

      <div class="row">
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Codigo ISO</label>
          <input
            class="form-control"
            type="text"
            name="codigo_ISO_xg"
            id="codigo_ISO_xg"
            placeholder="ECU"
            required
          />
        </div>

        <div class="mb-4 col-lg-6">
          <label class="mb-1">Idioma</label>
          <input
            class="form-control"
            type="text"
            name="idioma_xg"
            id="idioma_xg"
            placeholder="Espaniol"
            required
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="mb-1">Continente</label>
        <input
          class="form-control"
          type="text"
          name="continente_xg"
          id="continente_xg"
          placeholder="America"
          required
        />
      </div>

      <div class="mb-4">
        <label for="" class="mb-1">Bandera</label>

        <input
          type="file"
          accept="image/*"
          class="form-control"
          name="bandera_xg"
          id="bandera_xg"
          required
        />
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Guardar
        </button>
        <button class="btn btn-danger" name="button" type="reset">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-7 mx-auto">
    {% if paises %}
    <h3 class="text-center mt-4">Lista de Paises</h3>
    <table class="table table-dark table-striped align-middle text-center mt-4">
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Pais</th>
          <th>Capital</th>
          <th>Codigo ISO</th>
          <th>Idioma</th>
          <th>Continente</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for i, pais in paises %}
        <tr>
          <td>{{i}}</td>
          <td>
            {% if pais.bandera_xg %}
            <img
              src="{{pais.bandera_xg.url}}"
              alt="{{pais.nombre_xg}}"
              width="50"
            />
            {% else %}
            <p>N/A</p>
            {% endif %}
          </td>
          <td>{{pais.nombre_xg}}</td>
          <td>{{pais.capital_xg}}</td>
          <td>{{pais.codigo_ISO_xg}}</td>
          <td>{{pais.idioma_xg}}</td>
          <td>{{pais.continente_xg}}</td>
          <td>
            <a
              class="btn enlace-boton"
              href="javascript:void(0)"
              onclick="eliminarPais('/eliminarPais/{{pais.id_xg}}')"
              ><i class="bi bi-trash3 text-danger"></i> Eliminar</a
            ><a class="btn enlace-boton" href="/editarPais/{{pais.id_xg}}">
              <i class="bi bi-pencil-square text-success"></i> Editar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="alert alert-dark text-center mt-4">
      No hay paises registrados
    </div>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  function eliminarPais(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: "once",
      id: "question",
      zindex: 999,
      title: "CONFIRMACIÓN",
      message: "¿Está seguro de eliminar el pais seleccionado?",
      position: "bottomRight",
      buttons: [
        [
          "<button><b>SI</b></button>",
          function (instance, toast) {
            instance.hide({ transitionOut: "fadeOut" }, toast, "button");
            window.location.href = url;
          },
          true,
        ],
        [
          "<button>NO</button>",
          function (instance, toast) {
            instance.hide({ transitionOut: "fadeOut" }, toast, "button");
          },
        ],
      ],
    });
  }
</script>

{% endblock contenido %}
