{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Veterinaria</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      href="
https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/superhero/bootstrap.min.css
"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <!--TODO: IZITOAST-->
    <link rel="stylesheet" href="{% static 'css/iziToast.min.css' %}" />
    <script src="{% static 'js/iziToast.min.js' %}"></script>
  </head>

  <style>
    body {
      font-family: "Rubik", sans-serif !important;
      overflow-x: hidden;
    }

    .enlace-boton {
      font-size: 0.8rem;
    }
  </style>

  <body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img
            src="{% static 'img/veterinario.png' %}"
            alt="Logo"
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          Veterinaria
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Raza</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/paises">Pais</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/estadosCiviles">Estado Civil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tiposAtencion">Atencion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/medicamentos">Medicamento</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/propietarios">Propietario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mascotas">Mascota</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/atenciones">Atencion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recetas">Receta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/detalles">Detalle</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <main class="container_fluid">{% block contenido %}{% endblock %}</main>

    {% if messages %} {% for mensaje in messages %}
    <script>
      iziToast.success({
        title: "CONFIRMACION",
        message: "{{mensaje}}",
        position: "bottomRight",
      });
    </script>
    {% endfor %} {% endif %}
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
  ></script>
</html>
