{% extends "./plantilla.html" %} {% block contenido %} {% load static %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Propietario</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark"
      action="/crearPropietario/"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="mb-4">
        <label class="mb-1">Nombres</label>
        <input
          class="form-control"
          type="text"
          name="nombres_xg"
          id="nombres_xg"
          placeholder="Segundo Xavier"
          required
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Apellidos</label>
        <input
          class="form-control"
          type="text"
          name="apellidos_xg"
          id="apellidos_xg"
          placeholder="Gaspata Calo"
          required
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Direccion</label>
        <input
          class="form-control"
          type="text"
          name="direccion_xg"
          id="direccion_xg"
          placeholder="Av Juan de la Valladolid"
          required
        />
      </div>
      <div class="row">
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Telefono</label>
          <input
            class="form-control"
            type="text"
            name="telefono_xg"
            id="telefono_xg"
            placeholder="0989458745"
            required
          />
        </div>
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Estado Civil</label>
          <select
            class="form-control"
            name="estado_civil_xg"
            id="estado_civil_xg"
            required
          >
            <option>--Selecciona Estado civil--</option>
            {% for estadoCivil in estadosCivil %}
            <option value="{{estadoCivil.id_xg}}">
              {{estadoCivil.nombre_xg}}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="mb-4">
        <label class="mb-1">Pais</label>

        <select name="pais_xg" id="pais_xg" class="form-control" required>
          <option>--Selecciona Pais--</option>
          {% for pais in paises %}
          <option value="{{pais.id_xg}}">{{pais.nombre_xg}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="mb-4">
        <label for="" class="mb-1">Copia de Cedula</label>

        <input
          type="file"
          accept=".pdf"
          class="form-control"
          name="copia_cedula_xg"
          id="copia_cedula_xg"
          required
        />
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Guardar
        </button>
        <button class="btn btn-danger" name="button" type="reset">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-7 mx-auto">
    {% if propietarios %}
    <h3 class="text-center mt-4">Lista de Propietarios</h3>
    <table class="table table-dark table-striped align-middle text-center mt-4">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Telefono</th>
          <th>Pais</th>
          <th>Estado Civil</th>
          <th>Copia de Cedula</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for i, propietario in propietarios %}
        <tr>
          <td>{{i}}</td>
          <td>{{propietario.nombres_xg}}</td>
          <td>{{propietario.apellidos_xg}}</td>
          <td>{{propietario.telefono_xg}}</td>
          <td>{{propietario.pais_xg.nombre_xg}}</td>
          <td>{{propietario.estado_civil_xg.nombre_xg}}</td>
          <td>
            {% if propietario.copia_cedula_xg %}
            <a href="{{propietario.copia_cedula_xg.url}}" target="_blank"
              ><img
                src="{% static '/img/pdf.png' %}"
                alt="Copia de cedula"
                width="30"
                height="30"
            /></a>
            {% else %}
            <span class="text-danger">No tiene copia de cedula</span>
            {% endif %}
          </td>
          <td>
            <a
              class="btn enlace-boton"
              href="javascript:void(0)"
              onclick="eliminarPropietario('/eliminarPropietario/{{propietario.id_xg}}')"
              ><i class="bi bi-trash3 text-danger"></i> Eliminar</a
            ><a
              class="btn enlace-boton"
              href="/editarPropietario/{{propietario.id_xg}}"
            >
              <i class="bi bi-pencil-square text-success"></i> Editar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="alert alert-dark text-center mt-4">
      No hay propietarios registrados
    </div>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  function eliminarPropietario(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: "once",
      id: "question",
      zindex: 999,
      title: "CONFIRMACIÓN",
      message: "¿Está seguro de eliminar el propietario seleccionado?",
      position: "bottomRight",
      buttons: [
        [
          "<button><b>SI</b></button>",
          function (instance, toast) {
            instance.hide({ transitionOut: "fadeOut" }, toast, "button");
            window.location.href = url;
          },
          true,
        ],
        [
          "<button>NO</button>",
          function (instance, toast) {
            instance.hide({ transitionOut: "fadeOut" }, toast, "button");
          },
        ],
      ],
    });
  }
</script>

{% endblock contenido %}
