{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Razas</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark"
      action="/crearRaza/"
      method="post"
    >
      {% csrf_token %}
      <div class="mb-4">
        <label class="mb-1">Nombre</label>
        <input
          class="form-control"
          type="text"
          name="nombre_xg"
          id="nombre_xg"
          placeholder="Labrador Retriever"
          required
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Descripcion</label>
        <input
          class="form-control"
          type="text"
          name="descripcion_xg"
          id="descripcion_xg"
          placeholder="Perro de tamanio mediano o grande"
          required
        />
      </div>
      <div class="row">
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Tamanio</label>
          <input
            class="form-control"
            type="text"
            name="tamanio_xg"
            id="tamanio_xg"
            placeholder="Grande"
            required
          />
        </div>
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Esperanza Vida</label>
          <input
            class="form-control"
            type="text"
            name="esperanza_vida_xg"
            id="esperanza_vida_xg"
            placeholder="10 anios"
            required
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="mb-1">Origen</label>
        <input
          class="form-control"
          type="text"
          name="origen_xg"
          id="origen_xg"
          placeholder="Reino Unido"
          required
        />
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Guardar
        </button>
        <button class="btn btn-danger" name="button" type="reset">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-7 mx-auto">
    {% if razas %}
    <h3 class="text-center mt-4">Lista de Razas</h3>
    <table class="table table-dark table-striped align-middle text-center mt-4">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Tamanio</th>
          <th>Vida</th>
          <th>Origen</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for i, raza in razas %}
        <tr>
          <td>{{i}}</td>
          <td>{{raza.nombre_xg}}</td>
          <td>{{raza.descripcion_xg}}</td>
          <td>{{raza.tamanio_xg}}</td>
          <td>{{raza.esperanza_vida_xg}}</td>
          <td>{{raza.origen_xg}}</td>
          <td>
            <a
              class="btn enlace-boton"
              href="javascript:void(0)"
              onclick="eliminarRaza('/eliminarRaza/{{raza.id_xg}}')"
              ><i class="bi bi-trash3 text-danger"></i> Eliminar</a
            ><a class="btn enlace-boton" href="/editarRaza/{{raza.id_xg}}">
              <i class="bi bi-pencil-square text-success"></i> Editar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="alert alert-dark text-center mt-4">
      No hay razas registradas
    </div>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  function eliminarRaza(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: "once",
      id: "question",
      zindex: 999,
      title: "CONFIRMACIÓN",
      message: "¿Está seguro de eliminar la raza seleccionada?",
      position: "bottomRight",
      buttons: [
        [
          "<button><b>SI</b></button>",
          function (instance, toast) {
            instance.hide({ transitionOut: "fadeOut" }, toast, "button");
            window.location.href = url;
          },
          true,
        ],
        [
          "<button>NO</button>",
          function (instance, toast) {
            instance.hide({ transitionOut: "fadeOut" }, toast, "button");
          },
        ],
      ],
    });
  }
</script>

{% endblock contenido %}
