{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Recetas</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark"
      action="/crearReceta/"
      method="post"
    >
      {% csrf_token %}
      <div class="mb-4">
        <label class="mb-1">Instrucciones</label>
        <input
          class="form-control"
          type="text"
          name="instrucciones_xg"
          id="instrucciones_xg"
          placeholder="Ingresar todo el medicamento por medio"
          required
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Notas Adicionales</label>
        <input
          class="form-control"
          type="text"
          name="notas_adicionales_xg"
          id="notas_adicionales_xg"
          placeholder="Perro de tamanio mediano o grande"
          required
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Fecha</label>
        <input
          class="form-control"
          type="date"
          name="fecha_xg"
          id="fecha_xg"
          required
        />
      </div>
      <div class="mb-4">
        <label for="mb-1">Atencion</label>
        <select class="form-control" name="atencion_xg" id="atencion_xg">
          <option value="">--Seleccione atencion--</option>

          {% for atencion in atenciones %}
          <option value="{{atencion.id_xg}}">
            {{atencion.descripcion_xg}}
          </option>
          {% endfor %}
        </select>
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Guardar
        </button>
        <button class="btn btn-danger" name="button" type="reset">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-7 mx-auto">
    {% if recetas %}
    <h3 class="text-center mt-4">Lista de Recetas</h3>
    <table class="table table-dark table-striped align-middle text-center mt-4">
      <thead>
        <tr>
          <th>#</th>
          <th>Fecha</th>
          <th>Instrucciones</th>
          <th>Notas Adicionales</th>
          <th>Atencion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for i, receta in recetas %}
        <tr>
          <td>{{i}}</td>
          <td>{{receta.fecha_xg}}</td>
          <td>{{receta.instrucciones_xg}}</td>
          <td>{{receta.notas_adicionales_xg}}</td>
          <td>{{receta.atencion_xg}}</td>
          <td>
            <a
              class="btn enlace-boton"
              href="javascript:void(0)"
              onclick="eliminarReceta('/eliminarReceta/{{receta.id_xg}}')"
              ><i class="bi bi-trash3 text-danger"></i> Eliminar</a
            ><a class="btn enlace-boton" href="/editarReceta/{{receta.id_xg}}">
              <i class="bi bi-pencil-square text-success"></i> Editar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="alert alert-dark text-center mt-4">
      No hay recetas registradas
    </div>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  function eliminarReceta(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: "once",
      id: "question",
      zindex: 999,
      title: "CONFIRMACIÓN",
      message: "¿Está seguro de eliminar la receta seleccionada?",
      position: "bottomRight",
      buttons: [
        [
          "<button><b>SI</b></button>",
          function (instance, toast) {
            instance.hide({ transitionOut: "fadeOut" }, toast, "button");
            window.location.href = url;
          },
          true,
        ],
        [
          "<button>NO</button>",
          function (instance, toast) {
            instance.hide({ transitionOut: "fadeOut" }, toast, "button");
          },
        ],
      ],
    });
  }
</script>

{% endblock contenido %}
