{% extends "./plantilla.html" %} {% block contenido %}

<div class="row">
  <h1 class="text-center mt-4 mb-4">Tipos Atencion</h1>

  <div class="col-md-3 mx-auto">
    <form
      class="border p-5 border-dark bg-dark"
      action="/crearTipoAtencion/"
      method="post"
    >
      {% csrf_token %}
      <div class="mb-4">
        <label class="mb-1">Nombre</label>
        <input
          class="form-control"
          type="text"
          name="nombre_xg"
          id="nombre_xg"
          placeholder="Vacunacion"
          required
        />
      </div>
      <div class="mb-4">
        <label class="mb-1">Descripcion</label>
        <input
          class="form-control"
          type="text"
          name="descripcion_xg"
          id="descripcion_xg"
          placeholder="Proceso de administrar una vacuna para prevenir enfermedades"
          required
        />
      </div>
      <div class="row">
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Duracion</label>
          <input
            class="form-control"
            type="text"
            name="duracion_xg"
            id="duracion_xg"
            placeholder="5 meses"
            required
          />
        </div>
        <div class="mb-4 col-lg-6">
          <label class="mb-1">Costo</label>
          <input
            class="form-control"
            type="number"
            name="costo_xg"
            id="costo_xg"
            step="0.01"
            min="0"
            placeholder="100.00"
            required
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="mb-1">Fecha</label>
        <input
          class="form-control"
          type="date"
          name="fecha_creacion_xg"
          id="fecha_creacion_xg"
          required
        />
      </div>

      <div class="mt-4">
        <button class="btn btn-primary" name="button" type="submit">
          Guardar
        </button>
        <button class="btn btn-danger" name="button" type="reset">
          Cancelar
        </button>
      </div>
    </form>
  </div>
  <div class="col-md-7 mx-auto">
    {% if tiposAtencion %}
    <h3 class="text-center mt-4">Lista de Tipos Atencion</h3>
    <table class="table table-dark table-striped align-middle text-center mt-4">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Duracion</th>
          <th>Costo</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for i, atencion in tiposAtencion %}
        <tr>
          <td>{{i}}</td>
          <td>{{atencion.nombre_xg}}</td>
          <td>{{atencion.descripcion_xg}}</td>
          <td>{{atencion.duracion_xg}}</td>
          <td>$ {{atencion.costo_xg}}</td>
          <td>{{atencion.fecha_creacion_xg}}</td>
          <td>
            <a
              class="btn enlace-boton"
              href="javascript:void(0)"
              onclick="eliminarTipoAtencion('/eliminarTipoAtencion/{{atencion.id_xg}}')"
              ><i class="bi bi-trash3 text-danger"></i> Eliminar</a
            ><a
              class="btn enlace-boton"
              href="/editarTipoAtencion/{{atencion.id_xg}}"
            >
              <i class="bi bi-pencil-square text-success"></i> Editar
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="alert alert-dark text-center mt-4">
      No hay tipos de atencion registrados
    </div>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
  function eliminarTipoAtencion(url) {
    iziToast.question({
      timeout: 15000,
      close: true,
      overlay: true,
      displayMode: "once",
      id: "question",
      zindex: 999,
      title: "CONFIRMACIÓN",
      message: "¿Está seguro de eliminar el tipo atencion seleccionada?",
      position: "bottomRight",
      buttons: [
        [
          "<button><b>SI</b></button>",
          function (instance, toast) {
            instance.hide({ transitionOut: "fadeOut" }, toast, "button");
            window.location.href = url;
          },
          true,
        ],
        [
          "<button>NO</button>",
          function (instance, toast) {
            instance.hide({ transitionOut: "fadeOut" }, toast, "button");
          },
        ],
      ],
    });
  }
</script>

{% endblock contenido %}
